*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
ul{list-style-type: none;}
#wrap{
    width:100%;
    max-width:1000px;
    min-width:700px;
    margin:0 auto;
}
.sideclose{/*side  접혀있는 모습  */
    position:absolute;
    left:-300px; top:0;
    padding:100px 50px;
    display:flex;
    flex-direction: column;
    background:tan;    color:#fff;
    height:100%;    row-gap:20px;    width:300px;
    transition: left 1s ease;
}
.close{ /* 접혀있을때 아이콘 모습 */
    position:absolute;
    top:45px;left:300px;color:#222845;
    font-size:30px;    cursor:pointer;
    transition: left 1s ease 0.5s;
}
.open{    left:50px;color:#fff;} /*  펼쳐 질때 아이콘 모습 */
.sideopen{    left:0;  }   /* side 펼치면  */
#word, #money{
    height:30px; 
    border-radius: 5px; 
    padding:0 5px; 
    outline: none;
    border:0;
    font-size:17px;
}
#side h3{border-top:2px solid #aaa; padding-top:10px;}
#category li{
    display:flex; align-items: center;
    column-gap: 10px;
    padding:2px 0;
}
#category input[type=checkbox]{
    height:17px;width:17px;
}
#money{
    width:150px;
}
#main{
    width:100%;
}
.title{
    margin-top:30px ;
}
.title span{text-align: center; font-size:17px; font-weight:800;border-bottom:2px solid #aaa;}
.categoryText{display:inline-block; width:20%;padding:3px 10px; border-right:1px solid #aaa;}
.moneyText{display:inline-block; text-align:right;width:20%;padding:3px 10px; border-right:1px solid #aaa;}
.detailText{display:inline-block; width:60%;padding:3px 10px;}

.detail:nth-child(even){
    background:#ddd;
}
#main{
    width: 100%;
    max-width:1000px;
    min-width:700px;
    margin:0 auto;
}
#main h1{
    text-align: center;
    color: #fff;
}
#in h1{
    background: mediumseagreen;
    
}
#out h1{
    margin-top: 30px;
    background: firebrick;
}
.mnt{
    width: 100%;
    border: 1px solid tan;
}
.ttr td{
    font-size: 20px;
    padding-top: 5px;
    
}
.mnt:nth-child(even){
    background: ivory;
}
.cate{
    width: 25%;
    text-align: center;
    font-weight: 700;
}
.mon{
    width:25%;
    text-align: right;
    padding-right: 50px;
}
#in .mon{
    color:mediumseagreen;
}
#out .mon{
    color: firebrick;
}
.con{
    width: 50%;
    padding-left: 50px;
}
#bt_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
#bt_box a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    background: #fff;
    padding: 5px 10px;
    text-align: center;
    border-bottom: 20px solid black;
}
#bt_box a:hover{
    border: 0;
    border-top: 20px solid black;
}
#mychart{
    width: 1000px;
    height: 600px;
    margin: 150px auto;
    border: 1px solid tan;
    display: flex;
    border-radius: 10px;
}
#c1, #c2{
    width: 500px;
    margin-top: 50px;
}
