#view{
    width: 1300px;
    margin: 0 auto;
}
#gp{
    width: 100%;
    border-collapse: collapse;
}
#gp tr td{
    border-top: 1px solid #aaa;
}
#gp tr td:nth-child(1){
    border-left: 2px solid #333;
}
.name{width:150px; }
#gp tr td:nth-child(even) td{
    border-bottom: 2px solid #777;
}

.red{background: red;}
.blue{background: blue;}

#Canvas{
    width: 500px;
    height: 500px;
    border: 1px solid black;
}