*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 30px;
}
#container{
    display: grid;
    grid-template-columns: repeat(5, 300px);
    grid-template-rows:50px 100px 150px 300px 500px;
    gap:24px;
}

.item{
    border: 1px solid orangered;
    border-radius: 10px;
    color: orange;
}
.item:nth-child(1){
    grid-row:1/6;
}
.item:nth-child(2){
    z-index: 1;
    transform:translate(-163px,0px)scaleX(1.254);
}
.item:nth-child(2), .item:nth-child(3), .item:nth-child(10){
    grid-column: auto/span 4; /*열번호로 따지니까!*/
}
.item:nth-child(8), .item:nth-child(9){
    grid-column: auto/span 2;
}